.content {
    padding-bottom: 20px;
}

.profile {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
}

.book-header {
    margin-bottom: 0vw;
}

.tag-cloud {
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag-cloud-item {
    flex-shrink: 1;
}

.tag-cloud-item-selected {
    background-color: grey;
}
