{{ partial "header" . }}

<main>

    <h2>{{ .Title }}</h2>
    {{ partial "tag-cloud" . }}
    {{ range (.Paginator 5).Pages }} {{ if .Params.goodreads_image }} {{ partial "list-book" . }} {{ else }} {{ partial "list-item" . }} {{ end }} {{ end }}

</main>

{{ partial "paginator" . }}
{{ partial "footer" . }}
