{{ partial "header" . }}

<main>
  <div>
    <h2>{{ .Title }}</h2>
  </div>

  {{ with .Site.Params.profilePic }}
  <img
    class="profile"
    title="Credit to Drew Robertson for the awesome photo."
    alt="Profile Picture"
    src="../{{ . }}"
  />
  {{ end }}

  <div align="start" class="content">{{ .Content }}</div>
</main>

{{ partial "footer" . }}
