<div id="theme-tagcloud" class="tag-cloud">
    {{ $title := .Params.title }}
    {{ $tags := $.Site.Taxonomies.tags.ByCount }}
    {{ $v1 := where $tags "Count" ">=" 3 }}
    {{ $v2 := where $v1 "Term" "not in" (slice "hugo" "tags" "rss") }}
    {{ range $v2 }}
    {{ if .Term }}
    {{ $tagURL := printf "tags/%s/" .Term | relURL }}
    <div class="tag-cloud-item">
        {{ if eq $title .Term }}
            <kbd class="item-tag tag-cloud-item tag-cloud-item-selected">{{ .Term }}</kbd>
        {{ else }}
            <a href="{{ $tagURL }}"><kbd class="item-tag tag-cloud-item">{{ .Term }}</kbd></a>
        {{ end }}
    </div>
    {{ end }}
    {{ end }}
</div>