{{ partial "header" . }}

<main>
  <div class="intro">
    <h1>{{ .Site.Title }}</h1>
    <h2>{{ markdownify .Site.Params.Description }}</h2>
    {{ with .Content }}
    <div class="homepage-content text-justify">{{ . }}</div>
    {{ end }}
  </div>
</main>

{{ partial "footer" . }}
